<div>
{{#if recipes.length}}
{{#each recipes as |recipe|}}
    <div id="pies">
      <h2 href="/recipe/{{recipe.id}}">{{recipe.name}}</h2>
      <h4>Ingregidents:</h4>
      <p href="/recipe/{{recipe.id}}">{{recipe.ingredients}}</p>
      <h4>Description: </h4>
      <p href="/recipe/{{recipe.id}}">{{recipe.description}}</p>
    </div>
  {{/each}}
  {{/if}}
</div>

<script src="./js/recipeLogic.js"></script>